html{
    height:98%;
    width:100%;
    background-color:black;
}

body{
    height: 80%;
    width:100%;
}

.carousel-p{
    height:80%;
    width:100%;
}

#carouselExampleIndicators{
    height:80%;
}

.carousel-img{
    max-height:455px;
    min-height:455px;
    width:100%;
}

footer{
    padding:0.2%;
    width:100%;
}